<a href="https://colab.research.google.com/github/MLDERES/test/blob/master/Test_Sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#@title Interesting Title
variable_name = "Hello" #@param {type:"string"}
import pandas as pd

df = pd.DataFrame({'A':range(5),'B':[variable_name for i in range(5)]})
df

   A      B
0  0  Hello
1  1  Hello
2  2  Hello
3  3  Hello
4  4  Hello